<% unless @books.blank? %>
    <% @books.each do |f| %>
      <%= f.title %>
      <% f.author %>
      <%= f.description %>
    <% end %>
    <% else %>
    <p>No books to show </p> <%= link_to "Create one", new_book_path %>
<% end %>
